{% extends 'base.html' %}
{% block app_header %}{% endblock %}
{% block app_content %}
    <main>
        <section>
            <form action="">
                {% csrf_token %}
                <div>
                    {{ form.project.label }}&nbsp;{{ form.project }}
                </div>
                <div>
                    {{ form.filter_by.label }}&nbsp;{{ form.filter_by }}
                </div>
                <div>
                    {{ form.version.label }}&nbsp;{{ form.version }}
                </div>
                <input type="submit" value="{{ submit_btn }}">
            </form>
        </section>
    </main>
{% endblock %}