<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JXL - {% block app_title %}{% endblock %}</title>
    {% load static %}
{#    <script src="{% static 'jxl/dynaScript.js' %}"></script>#}
    <link href="{% static 'jxl/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% block app_header %}{% endblock %}
{% block app_content %}{% endblock %}
<footer class="page-text">
    <div>
        <p>
            <span>Created by Alex Gagnon &copy; 2019</span>
        </p>
    </div>
</footer>
</body>
</html>